<form #myForm="ngForm" (ngSubmit)="editRocket()">
    <div class="form-group">
        <label for="nom">Nom:</label>
        <input class="form-control" type="text" name="nom" [(ngModel)]="rocket.nom" required #nom="ngModel">
    </div>
    <div [hidden]="nom.valid || nom.pristine">
        le nom est obligatoire
    </div>
    <div class="form-group">
        <label for="fabrication">Date de Fabrication:</label>
        <input class="form-control" type="text" name="fabrication" [(ngModel)]="rocket.fabrication" required #fabrication="ngModel"> 
    </div>
    <div [hidden]="fabrication.valid || fabrication.pristine">
        le date de fabrication est obligatoire
    </div>
    <div class="form-group">
        <label for="organisation">Organisation:</label>
        <input class="form-control" type="text" name="organisation" [(ngModel)]="rocket.organisation" required #organisation="ngModel"> 
    </div>
    <div [hidden]="organisation.valid || organisation.pristine">
        l'organisation est obligatoire
    </div>
    <div class="form-group">
        <label for="fabrication">destination:</label>
        <input class="form-control" type="text" name="destination" [(ngModel)]="rocket.destination" required #destination="ngModel"> 
    </div>
    <div [hidden]="destination.valid || destination.pristine">
        le destination est obligatoire
    </div>
    <div class="form-group">
        <label for="createdAt">Date de Création:</label>
        <input class="form-control" type="text" name="createdAt" [(ngModel)]="rocket.createdAt" required #createdAt="ngModel"> 
    </div>
    <div [hidden]="createdAt.valid || createdAt.pristine">
        la Date de Création est obligatoire
    </div>
    <div>
        <button class="btn btn-success" [disabled]="!myForm.valid">
            Mettre à jour
        </button>
    </div>
</form>
