<nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top ">
    <a href="" class="navbar-brand">Formation Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNavbar">
        <span class="navbar-toggler-icon">
        </span>
    </button>
    <div class="collapse navbar-collapse" id="collapseNavbar">
        <ul class="nav navbar-nav">
            <li><a class="nav-link item" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a></li>
            <li><a class="nav-link item" routerLink="stagiaire" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Stagiaire</a></li>
            <li><a class="nav-link item" routerLink="adresse" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Adresse</a></li>
            <li><a class="nav-link item" routerLink="template-form" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Formulaire</a></li>
            <li><a class="nav-link item" routerLink="calculette" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Calculette</a></li>
            <li><a class="nav-link item" routerLink="correction" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Correction</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- remplacée par la barre nav -->
<!-- <app-home></app-home>
<app-adresse></app-adresse>
<app-stagiaire></app-stagiaire> -->
