<br>
<form #myForm=ngForm (ngSubmit)="ajouterPersonne()">
    <div>
        Nom: <input type="text" name="nom" [(ngModel)]="personne.nom" required #nom="ngModel">
    </div>
    <!-- {{ nom.className }} -->
    <div [hidden]="nom.valid || nom.pristine">Le nom est obligatoire</div>
    <br>
    <div>
        Prénom: <input type="text" name="prenom" [(ngModel)]="personne.prenom" required #prenom="ngModel">
    </div>
    <!-- {{ prenom.className }} -->
    <div [hidden]="prenom.valid  || prenom.pristine">Le prenom est obligatoire</div>
    <br>
    <div>
        <button class="btn btn-primary" [disabled] = "!myForm.valid">Ajouter</button>
    </div>
    <br>
    <!-- <div>
        <button (click)="direBonjour(nom.value)">Cliquer</button>
    </div> -->
    <br>
</form>

<!-- Exercice 1
Modifier le composant formulaire pour afficher les personnes
ajoutees en-dessous du formulaire
A chaque ajout, la nouvelle personne ajoutee apparaıt comme
dernier element de la liste des personnes (affich´ee en-dessous du
formulaire). Créer le boutton supprimer qui va avec -->

<div>
    <p *ngFor="let personne of personnes">{{ personne.nom }} {{ personne.prenom }}
        <button (click)="supprimerPersonne(personne)" class="btn btn-danger">Supprimer</button>
    </p>
</div>




    <!-- <div>
        Bonjour {{ result }}
    </div> -->



    <!--Correction -->
    <!-- <form #myForm="ngForm" (ngSubmit)=ajouterPersonne(myForm)>
        <div class="form-group">
            <label for="nom">Nom:</label>
            <input class="form-control" type="text" name="nom" [(ngModel)]="personne.nom" required #nom="ngModel">
        </div>
        <div [hidden]="nom.valid || nom.pristine">
            le nom est obligatoire
        </div>
        <div class="form-group">
            <label for="prenom">Prenom:</label>
            <input class="form-control" type="text" name="prenom" [(ngModel)]="personne.prenom" required #prenom="ngModel">
        </div>
        <div [hidden]="prenom.valid || prenom.pristine">
            le prenom est obligatoire
        </div>
        <div>
            <button class="btn btn-success" [disabled]="!myForm.valid">
                Ajouter
            </button>
        </div>
    </form>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let personne of personnes; index as i">
            {{ personne.nom }} {{ personne.prenom }}
             <button type="submit" class="btn btn-danger" (click)="supprimerPersonne(personne)">
                    supprimer
                </button> 
            <button type="submit" class="btn btn-danger" (click)="supprimerP(i)">
                supprimer
            </button>
        </li>
    </ul> -->
