
<h2>Personne Details</h2><hr />
<div *ngIf="personne">    
    <div>        
        <input [(ngModel)]="personne.id" />    
    </div>    
    <div>        
        <input [(ngModel)]="personne.nom" />    
    </div>    
    <div>        
        <input [(ngModel)]="personne.prenom" />    
    </div>    
    <div>        
        <input [(ngModel)]="personne.salaire" />    
    </div>    
    <div>       
         <input [(ngModel)]="personne.ville" />    
    </div>
</div>
<br>
<!-- <button class="btn btn-danger" (click)=removePerson()>Delete</button>  &nbsp; -->
<button class="btn btn-info" *ngIf="personne" (click)="updatePerson(personne.id, personne)">Update</button>
<!-- <button class="btn btn-success" (click)="retourPerson()">Retour</button> -->



