
<h2>Personne Details</h2><hr />
<div *ngIf="personne">    
    <div>        
        <input [(ngModel)]="personne[0].id" />    
    </div>    
    <div>        
        <input [(ngModel)]="personne[0].nom" />    
    </div>    
    <div>        
        <input [(ngModel)]="personne[0].prenom" />    
    </div>    
    <div>        
        <input [(ngModel)]="personne[0].salaire" />    
    </div>    
    <div>       
         <input [(ngModel)]="personne[0].ville" />    
    </div>
</div>
<br>
<!-- <button class="btn btn-danger" (click)=removePerson()>Delete</button>  &nbsp; -->
<button class="btn btn-info" *ngIf="personne" (click)="updatePerson(personne[0].id, personne)">Update</button>



